.text-white {
  color: #ffffff; // Білий колір тексту для всіх елементів з класом text-white
}

h2 {
  font-size: 2rem; // Збільшення розміру шрифту заголовку
}

.text {
  font-size: 1.25rem; // Збільшення розміру шрифту параграфу
}

.flex {
  button {
    font-size: 1.25rem; // Збільшення розміру кнопок
    padding: 10px 20px; // Додатковий відступ для кнопок
  }
}

.input{
  padding: 10px;
  border-radius: 31.5px;
  font-size: 12px;
  background-color: #FAFAFA;
  color: #888888;
  text-align: center;
  width:300px;
  outline: none;

  &:hover::placeholder{
    color: #444444;
  }
}
