.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    min-width: 20rem;
    min-height: 450px;
    max-width: 28rem;
    height: fit-content;
    position: relative;
    padding-bottom: 20px;
    padding-top: 40px;
  
    &:hover {
      background-color: #fafafa;
    }
}