.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  min-width: 16rem;
  max-height: 450px;
  max-width: 100%;
  height: fit-content;
  position: relative;
  padding: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: white;
  cursor: grab;
  transition: 0.6s;

  &:hover {
    background-color: #fafafa;
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .title {
    color: #444444;
    font-size: 11px;
  }
  .span {
    font-size: 11px;
    color: #888888;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 5px;

    .button {
      margin-top: 10px;
      padding: 10px 15px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      color: #888888;
      font-size: 11px;
      border-radius: 80px;
      width: fit-content;
      min-width: 62px;
    }

    .button:nth-child(2) {
      background-color: #f9f9f9;
    }
  }

  .deleteIcon {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .img {
    margin-top: 4 0px;
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

.loading {
  background-color: rgba(212, 212, 212, 0.878);
  z-index: 1000;
  pointer-events: none;
}
.container:active {
  opacity: 1 !important;
}

.draggedOver {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.dragging {
  opacity: 1 !important;
  transform: scale(1.05);
  transition: transform 0.2s ease, opacity 0.2s ease;
}
