.input{
    border:0.5px solid #EAEAEA;
    color:#999999;
    background-color: #F9F9F9;
    padding: 10px 20px;
    font-size: 12px;
    text-align: start;
    border-radius: 80px;
    outline: none;
    width:270px;

    &:hover {
        color: #444444;
    }

    &:focus{
        color: #444444;
    }
}